body {
    margin: 0;
    font-size: 11px;
    font-family: arial,sans-serif;
}
input{
    height: 22px;
}

input, textarea{
    border-radius: 2px;

    outline: none;
    padding-left: 5px;

    border-top-width: 1px;
    border-top-color: #b1b1b1;
    border-top-style: solid;

    border-bottom-width: 1px;
    border-bottom-color: #d2d2d2;
    border-bottom-style: solid;

    border-left-width: 1px;
    border-left-color: #d2d2d2;
    border-left-style: solid;

    border-right-width: 1px;
    border-right-color: #d2d2d2;
    border-right-style: solid;

    font-family: arial,sans-serif;
    font-size:  11px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;


    -webkit-box-shadow: inset 0 6px 5px -6px #b1b1b1;
    -moz-box-shadow: inset 0 6px 5px -6px #b1b1b1;
    box-shadow: inset 0 6px 5px -6px #b1b1b1;
}

button{
    height: 18px;
    border-radius: 4px;
    border: 1px solid #A6A6A6;

    background: rgb(255,255,255); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTVlNWU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 30%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 30%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 30%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 30%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 30%,rgba(229,229,229,1) 100%); /* W3C */

}

p {
    margin: 5px 5px;
    color: black;
}

td[id="today"]:not(.highlightPopup) > p.date{
    color: #666666;
}

p.date {
    color: #999999;
}

.monthAndYear {
    width: 120px
}

.out {
    background-color: white;
}

.hint {
    color: #CCCCCC;
}

.header {
    background-image: url(../img/background.png);
    background-repeat: repeat-x;
    height: 110px;
}

table.calendar {
    border-collapse: collapse;
    table-layout: fixed;
}

table.calendar td, th {
    border: 2px solid #EBEBEB;
    /*padding: 3px;*/
    text-align: left;
    vertical-align: top;

    color: #999999;
}

table.calControl td {
    border: none;
    text-align: center;
    vertical-align: middle;

    font-size: 16px;
    color: black;
}

.calControl{
    margin-bottom: 6px;
}

.highlight {
    background-color: #F4F4F4;
    color: #666666;
    font-weight: 600;

}

.highlightPopup {
    border: 2px double #86c9fd !important;
    background-color: #e5f1f9 !important;
}

.popup {
    position: absolute !important;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    background-color: #ffffff;
}

.button {
    border-radius: 2px;
    text-align: center;
    color: white;
    background-color: #0271c7;
    border: 1px solid #0271c7;
    padding: 5px 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    margin-right: 5px;

    font-family: Arial, sans-serif;
}

.whiteButton {
    border-radius: 2px;
    text-align: center;
    background-color: white;
    padding: 1px 5px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35), 0 0 2px rgba(0, 0, 0, 0.35);
    font-size: 10px;
    height: 12px;
    color: #666666;

    display: table-cell;
    vertical-align: middle;
}

.rotate180 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

th {
    font-weight: bold;
    background-color: #E6E6E6;

}

.clear{
    display: inline-block;
    /*width: 16px;*/
    /*height: 16px;*/
    position: absolute;
}

.closeButton {
    float: right;
    padding: 8px;
    font-size: 8px;
    cursor: pointer;
    width: 100%;
    text-align: right;
}

.contentPopup {
    padding: 0px 20px 20px 20px;
}

.hidden {
    display: none;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    border-right: 3px solid #666666;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    border-left: 3px solid #666666;
}

.eventDiv{
    background-color: #27a1ff;
    width: 180px;

    padding: 5px;
    /*padding-left: 2px;*/
    margin-left: -7px;
    margin-right: -3px;
    margin-bottom: 1px;

    position: relative;
}

.eventDiv p {
    color: #ffffff;
}

.eventDiv:after{
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC42NyIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiM5M2QwZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjdhMWZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);

    background: -moz-linear-gradient(left,  rgba(39,161,255,0) 60%, rgba(39,161,255,0) 80%, rgba(39,161,255,1) 90%, rgba(39,161,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(60%,rgba(39,161,255,0)), color-stop(80%,rgba(39,161,255,0)), color-stop(90%,rgba(39,161,255,1)), color-stop(100%,rgba(39,161,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(39,161,255,0) 60%,rgba(39,161,255,0) 80%,rgba(39,161,255,1) 90%,rgba(39,161,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(39,161,255,0) 60%,rgba(39,161,255,0) 80%,rgba(39,161,255,1) 90%,rgba(39,161,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(39,161,255,0) 60%,rgba(39,161,255,0) 80%,rgba(39,161,255,1) 90%,rgba(39,161,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(39,161,255,0) 60%,rgba(39,161,255,0) 80%,rgba(39,161,255,1) 90%,rgba(39,161,255,1) 100%); /* W3C */
}

.event{
    color: #000000;
    font-weight: bold;

    margin: 0px 0px 0px 0px;
    overflow: hidden;
    white-space: nowrap;
}

.eventDate{
    color: #666666;
    margin: 0px;
}

.eventHighlight{
    background-color: #c2e4fe;
}

.searchDiv{
    width: 180px;

    padding: 5px;
    /*padding-left: 2px;*/
    margin-left: -7px;
    margin-right: -3px;
    margin-bottom: 1px;

    position: relative;
}

.marginRight{
    margin-right: 6px;
}

.searchDiv:after{
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC42NyIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 60%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(60%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,0)), color-stop(90%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 60%,rgba(255,255,255,0) 80%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 60%,rgba(255,255,255,0) 80%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 60%,rgba(255,255,255,0) 80%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 60%,rgba(255,255,255,0) 80%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%); /* W3C */
}

.addButton{
    background-color: #015da4;
    border: 1px solid #015da4;
    color: #c2d0e2;
}

p.eventP{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
}

p.dayP{
    margin-bottom: 10px;
    width: 100%;
}

.nameP{
    margin-bottom: 20px;
}

.greyText{
    color: #666666;
    margin: 0px 0px 0px 0px;
}


