.vScroll {
    padding-bottom: 5px;
    padding-top: 2px;
    margin: 2px;
}

.vScrollContent {
    background: #fff;
    overflow: hidden;
    height: 240px;
    position: relative;
}

.col1 {
    float: left;
    overflow: hidden;
}

.col2 {
    width: 8px;
    height: 220px;
    float: left;
    padding: 6px;
    margin-left: 2px;
}

.vScroll table {
    border-collapse: collapse;
    margin-left: 9px;
}

.vScroll table td {
    text-align: left;
    color: #000;
}

.scrollingTrack div {
    position: relative;
}

.scrollbar {
    background-color: #7a7a7a;
    cursor: move;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    opacity: 0.9;
    -moz-opacity: 0.9;
}

.searchList{
    table-layout:fixed;
    border-collapse:collapse;
    border-spacing:0;
    border-style:hidden;
}

.searchList td {
    border-bottom:1px solid #ebebeb;
}
